{% extends "index.html" %}
{% block banner %}
<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner1" data-slide-to="1"></li>
            <li data-target="#banner1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <img style="width: 500px; height: 300px; border-radius: 10%" src="../static/images/translate2.png">
                            <a class="read_more" href="/translate">Translate</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <img style="width: 500px; height: 300px; border-radius: 10%" src="../static/images/recognize.png">
                            <a class="read_more" href="/recognize">Recognize</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="text-bg">
                            <img style="width: 500px; height: 300px; border-radius: 10%" src="../static/images/tubescribe.png">
                            <a class="read_more" href="/tubescribe">Tubescribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        <br>
    </div>
</section>
<section>
<div id="we_Do" class="we_do">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>What We Do</h2>
                    <p>An automatic subtitles </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="hover_color_translate" class="we_box">
                    <span>1</span>
                    <h3>Translate</h3>
                    <p>We are using a model which generate better result in comparison with 
                        Google translate. You can use our model to translate your own subtitles file.
                        </p>
                </div>
            </div>
            <div class="col-md-4">
                <div id="hover_color_recognize" class="we_box">
                    <span>2</span>
                    <h3>Recognize</h3>
                    <p>Combine of the enhanced audio model with state of the art in speech recognition, Wav2Vec2,
                        our website can quickly get scripts from audio file with the most reliable outcome</p>
                </div>
            </div>
            <div class="col-md-4">
                <div id="hover_color_extension" class="we_box">
                    <span>3</span>
                    <h3>SUB IT!</h3>
                    <p>An application to extract files transcript from Youtube's videos</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
