{% extends "index.html" %}


{% block banner %}
<section class="banner_main" xmlns="http://www.w3.org/1999/html">
    <div>
        <form action="/recognized" method="post" enctype="multipart/form-data" name="audio-recognition">
            <input id="upload_audio" type="file" name="audio-file" accept=".mp3, .m4a, .mp4, .wav">
            <p>Drag your audio file here or click in this area.</p>
            <br>
            <div id="button_recognize">
                <a id="recognize" class="start-bar" href="javascript:recognize('#upload_audio',
                                    '#reg-output',
                                    '#txtpath',
                                    '#xmlpath',
                                    '#srtpath');">Recognized</a>
            </div>
            <div id="loading">
                <img class="center" id="loading-image" src="{{ url_for('static', filename='loading.gif') }}">
            </div>
            <br>
            <textarea id="reg-output" name="audio-output" placeholder="Output script: " readonly></textarea>

            <a id="txtpath">Download TXT</a>
            <a id="xmlpath">Download XML</a>
            <a id="srtpath">Download SRT</a>
        </form>
    </div>
</section>


{% endblock %}

{% block jscode %}
<script>
    $(document).ready(function () {
    $(document).ajaxStart(function () {
        $("#loading").show();
        $("#button_recognize").hide();
    }).ajaxStop(function () {
        $("#loading").hide();
        $("#button_recognize").show();
    });
});
    function recognize(sourceElem, destElem, txtId, xmlId, srtId) {
            var audio = $(sourceElem).prop('files')[0];
            var formData = new FormData();
            formData.append('audio', audio)

            $.ajax({
                url: '/recognized',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $(destElem).val(response['text'])
                    $(txtId).attr("href", response['txt_href'])
                    $(txtId).attr("target", "_blank")
                    $(xmlId).attr("href", response['xml_href'])
                    $(xmlId).attr("target", "_blank")
                    $(srtId).attr("href", response['srt_href'])
                    $(srtId).attr("target", "_blank")
                },
                error: function() {
                    $(destElem).attr("placeholder", "Invalid audio file");
                }
            })
        }

</script>
{% endblock %}