body{
  background: rgba(0,0,0,0.9);
}
form{
  position: static;
  top: 15%;
  left: 15%;
  /*margin-top: -100px;*/
  /*margin-left: -250px;*/
  margin: auto;
    width: 70%;
    height: 100px;
    border: 4px dashed #fff;
}
form p{
    position: static;
  width: 100%;
  height: 100%;
    margin-top: -90px;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  font-family: Arial;
}
form input[type=file]{
  position: static;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.start-bar{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 101%;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
    margin-bottom: 2px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}

form a{
  color: #fff;
  background: #10676f;
  border: none;
  width: 33%;
  height: 35px;
  margin-top: 10px;
  margin-left: -4px;
    margin-right: 3px;
  border-radius: 4px;
  border-bottom: 4px solid #114e7a;
  transition: all .2s ease;
  outline: none;
    text-align: center;
    display: inline-block;
}
form button:hover{
  background: #149174;
	color: #0C5645;
}
form button:active{
  border:0;
}

form textarea[name="inputNote"]{
    width: 50%;
    height: 300px;
    margin-left: -5px;
    font-family: Arial, sans-serif;
    font-size: large;
    display: inline;
}

form textarea[name="outputNote"]{
    width: 50%;
    height: 300px;
    margin-left: 1px;
    font-family: Arial, sans-serif;
    font-size: large;
    display: inline;
    color: black;
    background-color: #8c8c8c;
}

form textarea[name="audio-output"]{
    width: 100%;
    height: 300px;
    margin-left: 1px;
    font-family: Arial, sans-serif;
    font-size: medium;
    display: inline;
    color: black;
    background-color: #8c8c8c;
}

